.modal-dialog {
    margin: 30px auto;
    max-width: 600px;
}

#fileLocation{
    visibility: hidden;
}

#flux{width:200px;height:150px;overflow:auto;}

.card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 5;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
}

.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
    color: #d9944f;
}

.el-element-overlay .el-card-item .el-overlay-1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    border-radius: 10px;
}

.btn-success, .btn-success.disabled {
    background: #bb8865;
    border: 1px solid #ae846a;
}

.el-element-overlay .el-card-item .el-overlay-1 .el-info>li a:hover {
    background: #009efb;
    border-color: #009efb;
}

ul#message-list {
    height: 300px !important;
}

.el-element-overlay .el-card-item .el-overlay-1:hover .el-overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    /* -webkit-transform: translateZ(0); */
    -ms-transform: translateZ(0);
    transform: inherit;
}

.el-element-overlay .el-card-item .el-overlay-1 .el-info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    filter: alpha(opacity=0);
    /* -webkit-transition: all .2s ease-in-out; */
    transition: all .2s ease-in-out;
    padding: 0;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    /* transform: translateY(-50%) translateZ(0); */
    /* -webkit-transform: translateY(-50%) translateZ(0); */
    -ms-transform: translateY(-50%) translateZ(0);
}