@import tools.Const
@import models.Utilisateur
@(profil_superviseur: String, profil_utilisateur: String,utilisateur: Utilisateur)
<section id="header">
    <header class="clearfix">

        <!-- Branding -->
        <div class="branding">
            <a class="brand" href="/">
                <span><strong>YATOO</strong></span>
            </a>
            <a href="#" class="offcanvas-toggle visible-xs-inline"><i class="fa fa-bars"></i></a>
        </div>

        <ul class="nav-right pull-right list-inline">
            <li class="dropdown nav-profile">
                <a href class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user"></i>
                    <span>@utilisateur.getPrenom() @utilisateur.getNom()<i class="fa fa-angle-down"></i></span>
                </a>

                <ul class="dropdown-menu animated littleFadeInRight" role="menu">
                    <li>
                        <a href="/logout">
                            <i class="fa fa-sign-out"></i>Déconnexion
                        </a>
                    </li>
                </ul>
            </li>

            <!--<li class="">-->
                <!--<a href="/changementPassword">-->
                    <!--Changer mot de passe-->
                <!--</a>-->
            <!--</li>-->
        </ul>
        <!-- Right-side navigation end -->

    </header>

</section>

<div id="controls">
    <aside id="sidebar">
        <div id="sidebar-wrap">
            <div class="panel-group slim-scroll" role="tablist">
                <div class="panel panel-default">
                    <div id="sidebarNav" class="panel-collapse collapse in" role="tabpanel">
                        <div class="panel-body">
                            @if(session.get(Const.SESSION_PROFIL)==profil_superviseur) {
                            @menuAdmin()}

                            @if(session.get(Const.SESSION_PROFIL)==profil_utilisateur){
                            @menuBack()}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>